*{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column; 
  font: 14.35px/16px "Segoe WP N", sans-serif;
}
a {
text-decoration: none;
outline: none;
}
.content{
  flex: 1 0 auto;
  margin: auto;  
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 973px;
  height: 89px;
  margin: 0 auto;
  background: #ffffff;
  position: relative; 
}
.logo{
  padding: 24px 0 21px 0;
}
.main-nav{
  list-style: none;
  display: flex;
  font-size: 20.35px;
  padding-bottom: 21px;
}
.main-nav li{
  padding-left: 36px;
}
.main-nav li:last-child{
  margin-right: 16px;
}
.main-nav li a{
  color: #8e8e8e;
  text-decoration: none;  
}
.main-nav li a:hover,
.main-nav li.active a{
  border-bottom: 3px solid #5094f2;
  padding-bottom: 14px;  
}
                                  /*burger menu*/

.burger-menu{
  display: none;
}
.burger-menu_button{
  position: absolute;
  top: 28px;
  right: 9px;
  z-index: 30;
  width: 57px;
  height: 44px;
  background: #5094f2;
  border-radius: 2px;
}
.burger-menu_button:hover .burger-menu_lines{
  filter: brightness(0.7);
}
.burger-menu_lines,
.burger-menu_lines:after,
.burger-menu_lines:before{
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: #fff;
}
.burger-menu_lines{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before{
  content: "";
  top: -12px;
}
.burger-menu_lines::after{
  content: "";
  top: 12px;
}
.burger-menu_active .burger-menu_lines{
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before{
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform : rotate(-45deg);
}
.burger-menu_nav{
  position: fixed;
  padding-top: 80px;
  width: 30%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #5094f2;
  opacity: 0.90; 
  right: -100%; 
}
.burger-menu_active .burger-menu_nav{
  right: 0;
}
.burger-menu_link{
  padding: 30px;
  font-family: "Segoe WP N" sans-serif;
  line-height: 64px;
  font-size: 22px;
  color: #fff;
}
.burger-menu_link:hover{
  filter: brightness(0.3);
}
.burger-menu_overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay{
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

                                  /*end burger menu*/
.intro{
  background: url(../images/header.png) no-repeat;
  min-height: 484px;
  background-size: cover;
  position: relative;
}
.arrow-intro{
   width: 1068px;
   margin: 0 auto;
   position: relative;
   background: pink;
}
.arrow1{
  position: absolute;
  left: 0;
  top: 231px;
}
.arrow2{
  position: absolute;
  right: 0;
  top: 231px;
}
.intro:after{
  content:'';
  background: url(../images/pattern.png);
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-intro{
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.img-phone{
  position: absolute;
  top: 38px; 
  left: 35px;
}
.img-phone img{
  width: 100%;
}
.text-intro{
  position: absolute;
  left: 485px;
  top: 155px;
  right: 10px;  
}
.text-intro span{
  font-size: 42.35px;
  color: #ffff;
  line-height: 48px;
}
.text-intro p{
  font-size: 26.35px;
  line-height: 46px;
  padding-left: 2px;
  padding-top: 15px;
  padding-right: 200px;
  padding-bottom: 34px; 
  color: #ffff;
}
.buttom-intro{
  position: relative;
}
.buttom-intro a{
  background: #5094f2;
  border-radius: 2px;
  padding: 9px 12px 9px 37px;   
  font-size: 22.35px;
  color: #ffffff; 
  text-align: center;
  display: inline-block;
  text-decoration: none; 
}
.buttom-intro a:hover, a:active{
  color: black;
}
.icon-shape:before{  
  content: '\e900';
  font-size: 26px;
  position: absolute;
  top: 11px;
  left: 6px;
  display: block;
 }
.main{
  width: 973px;
  margin: 0 auto;
  padding: 65px 35px;
}
.main-responsive, .bullet-text-responsive, .shopping-card-responsive {
  display: none;
}

.items{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.icon-content-text{
  display: none; /*for responsive*/
}
.items p{
  width: 90%;
  color: #909090;
}
.icon-content-title{
  font-size: 34.13px;
  color: #5094f2;
  margin-bottom: 12px;
}
.ico-item1{
  background: url('../images/sprite.png') no-repeat 0 0;
  width: 186px;
  height: 185px;
  display: block;
  margin-bottom: 28px;
}
.ico-item1-text{
  font-size: 20.35px;
  color: #5094f2;
  display: block;
  margin-bottom: 10px;  
}
.ico-item2{
  background: url('../images/sprite.png') no-repeat -206px 0;
  width: 186px;
  height: 185px;
  display: block;
  margin-bottom: 28px;
}
.ico-item3{
  background: url('../images/sprite.png') no-repeat -412px 0;
  width: 186px;
  height: 186px;
  display: block;
  margin-bottom: 28px;
}
footer{
  height: 94px;
  background: #ffffff;
}
.footer{
  width: 973px;
  height: 94px;
  margin: 0 auto;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 44px;
  font-size: 15.35px;
  color: #909090;
  border-top: 1px solid #cccccc;
}*
.footer a{
  text-decoration: none;
  color: #909090;
}
